---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h2>
        <span style={{ fontWeight: 'bold' }}> A Game Dev Journey </span>
      </h2>
      <p>
        <span style={{ fontWeight: 'bold' }}>Welcome</span> to the first steps of
        me learning game development! I’ve consulted AI (Claude) to craft a roadmap
        for starting game development with Godot 4. This <a href="/blog">blog</a
        > will document my progress as I study and grow (as a human being) using
        that roadmap. My first major milestone is set for January 2025, when I’ll
        participate in the <a href="https://globalgamejam.org/"
          >Global Game Jam!</a
        >You can find the roadmap
        <a href="/blog/roadmap">here</a>.
      </p>
      <p>Ahoy! Let’s dive in and start making games!</p>
      <p>
        <span style={{ fontWeight: 'bold' }}>Yours truly,</span>
        <br />Nosferatu Concorde
      </p>
    </main>
    <Footer />
  </body>
</html>
